@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-gradient-to-br from-slate-100 via-white to-slate-200 text-gray-900;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 18px;
  }
  button {
    font-size: 14px;
  }
}
